
body{
  text-align:center;
}

.header{
  background: #c2ee5d;
  margin-bottom: 40px;
  text-align:center;
}

.greeting{
  font-size: 30px;
  margin-bottom: 50px;
}

.billboard{
  margin:0 200px 0 200px;
  border: 2px solid #f29027;
}

.phrase{
  font-size: 50px;
}

.signature{
  text-align:right;
  padding-right:10px;
}